@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-color: #FFF2E2;
    font-family: 'Poppins', sans-serif;
    
}

.main{
    display: flex;
    justify-content: center;
    transform:translateY(50%)
}
.title{
    font-weight: bold;
    font-size: 60px;
}
.title2{
    font-weight: bold;
    font-size: 40px;
    color:#2E3190;
}
.subtitle{
  color: gray;
  padding-bottom: 30px;
  margin-right:30px ;

}

button{
    background-color: #FF8F3D;
    color:white;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.21);
	border-bottom-color: rgba(0,0,0,0.34);
    width: 200px;
    height: 60px;
    font-size: 18px;
    margin-right:15%;
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
				      0 2px 0 -1px rgba(0,0,0,0.13), 
				      0 3px 0 -1px rgba(0,0,0,0.08), 
				      0 3px 13px -1px rgba(0,0,0,0.21);
}
button:hover{
    top: 1px;
	border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
	box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
	position: relative;
}
.buttons{
    width: 100%;
   justify-items: space-evenly;
   margin-bottom: 50px;
   
  
}
[type="submit"]{
    background-color: #FF8F3D;
    color:white;
    border-radius: 5px;
    border: 2px;
    width: 150px;
    height: 60px;
    font-size: 15px;
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                      0 2px 0 -1px rgba(0,0,0,0.13), 
                      0 3px 0 -1px rgba(0,0,0,0.08), 
                      0 3px 13px -1px rgba(0,0,0,0.21);
                      margin-top: 2%;
  }
  [type="submit"]:hover{
    top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: relative;
    
}
.left{
    display:table
 
}

  .menu{
position:absolute;
top:10%;
bottom:0;
left:10%;
right:0;

margin: auto;
}
p{
    font-size: 20px;
    margin-bottom: 50px;
}

[type="text"],[type="number"]{
    width:80%;
    height:30px;
    border-radius: 7;
    outline: none;
    border:0;
   
}

.insert{
   width:100%;
    display:table;
    transform:translateY(5%);
    margin: 20px;
    
}
.inputs{
    width:30%;
    display:table-cell;
    
}

a:link {
    color: #FF8F3D;
}
a:hover {
    color: rgb(255, 68, 6);
}
a:active {
    color: rgb(84, 84, 84);
}
a:visited {
    color: rgb(143, 0, 71);
}